{% extends "menu.html" %}

{% load icon %}

{% block head_title %}
{{ user.get_full_name }}
{% endblock %}

{% block content %}
<h1>{{ user.get_full_name }}</h1>
<table class="table table-bordered table-striped">
	<tr>
		<td><b>Username</b></td>
		<td>{{ user.username }}</td>
	</tr>
	<tr>
		<td><b>Last login</b></td>
		<td>{{ user.last_login }}</td>
	</tr>
	<tr>
		<td><b>Date joined</b></td>
		<td>{{ user.date_joined }}</td>
	</tr>
	<td><b>Is superuser</b></td>
	<td>
		{% if user.is_superuser %}
			{% icon 'ok' %}
		{% else %}
			{% icon 'remove' %}
		{% endif %}
	</td>
</table>
{% endblock %}
