{% extends "menu.html" %}

{% block head_title %}
{{ get_user.get_full_name }}
{% endblock %}

{% block content %}
<h1>{{ get_user.get_full_name }}</h1>
<table class="table table-bordered table-striped">
	<tr>
		<td><b>Username</b></td>
		<td>{{ get_user.username }}</td>
	</tr>
	<tr>
		<td><b>Last login</b></td>
		<td>{{ get_user.last_login }}</td>
	</tr>
	<tr>
		<td><b>Date joined</b></td>
		<td>{{ get_user.date_joined }}</td>
	</tr>
	<td><b>Is superuser</b></td>
	<td>{% if get_user.is_superuser %}<i class="icon icon-ok"></i>{% else %}<i class="icon icon-remove"></i>{% endif %}</td>
</table>
{% endblock %}
