{% extends "problems/problem/menu.html" %}

{% block tab %}

<div style="float: right;">
	<a href="/problems/{{ problem.id }}/comments/add/" class="btn btn-success">Add a comment</a>
</div>
<h1>Comments</h1>

{% for comment in comments %}
	{% include "problems/problem/comment.html" with comment=comment %}
{% empty %}
There are no comments :(
{% endfor %}

{% if pages|length != 1 %}
<div class="pagination pagination-centered">
	<ul>

		{% if page == 1 %}
			<li class="disabled"><a>&laquo;</a>
		{% else %}
			<li><a href="/problems/{{ problem.id }}/comments/{{ prev_page }}/">&laquo;</a></li>
		{% endif %}

		{% for pag in pages %}
			{% if pag == "..." %}
				<li class="disabled"><a>...</a></li>
			{% else %}
				{% if pag == page %}
					<li class="active"><a>{{ pag }}</a></li>
				{% else %}
					<li><a href="/problems/{{ problem.id }}/comments/{{ pag }}/">{{ pag }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}

		{% if page == last_page %}
			<li class="disabled"><a>&raquo;</a></li>
		{% else %}
			<li><a href="/problems/{{ problem.id }}/comments/{{ next_page }}/">&raquo;</a></li>
		{% endif %}
	</ul>
</div>
{% endif %}

{% endblock %}
