{% extends "problems/problem/menu.html" %}

{% load dialog %}
{% load badges %}
{% load tags %}

{% block tab %}

<form method="post" class="form-horizontal">

{% csrf_token %}

	<div class="control-group{% if error.title %} error{% endif %}">
		<label class="control-label" for="input_title">Title</label>
		<div class="controls">
			<input type="text" class="span6" name="title" id="input_title" placeholder="Title" value="{{ problem.title }}" />
			{% if error.title %}
				<span class="help-inline">{{ error.title }}</span>
			{% endif %}
		</div>
	</div>

	<div class="control-group{% if error.author %} error{% endif %}">
		<label class="control-label" for="input_author">Author</label>
		<div class="controls">
			<input type="text" class="span6" name="author" id="input_author" placeholder="Author" value="{{ problem.author }}" />
			{% if error.author %}
				<span class="help-inline">{{ error.author }}</span>
			{% endif %}
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="input_description">Description</label>
		<div class="controls">
			<textarea class="span6" style="height: 250px;" name="description" id="input_description" placeholder="Description">{{ problem.description }}</textarea>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="input_task">Task</label>
		<div class="controls">
			<textarea class="span6" style="height: 250px;" name="task" id="input_task" placeholder="Task content">{{ problem.task }}</textarea>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="input_solution">Solution</label>
		<div class="controls">
			<textarea class="span6" style="height: 175px;" name="solution" id="input_solution" placeholder="Describe solution here">{{ problem.solution }}</textarea>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="input_difficulty">Difficulty</label>
		<div class="controls">
			<select name="difficulty" id="input_difficulty" class="selectpickter">
				{% for i in "01234" %}
					<option data-content="{% difficulty i True %}" value="{{ i }}"{% if i|add:0 == problem.difficulty %} selected{% endif %}>
						{% difficulty i %}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="input_coolness">Coolness</label>
		<div class="controls">
			<select name="coolness" id="input_coolness" class="selectpickter">
				{% for i in "01234" %}
					<option data-content="{% coolness i True %}" value="{{ i }}"{% if i|add:0 == problem.coolness %} selected{% endif %}>
						{% coolness i %}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="input_tags">Tags</label>
		<div class="controls">
			<select class="span6" name="tags" id="input_tags" class="selectpicker" data-live-search="true" multiple>
				{% for tag in tags %}
					<option value="{{ tag.id }}" data-content="{% puttag tag apo=True %} {{ tag.name }}"{% if tag in problem.tags.all %} selected{% endif %}>{{ tag.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" name="edit" class="btn btn-success">Edit</button>
			{% dialog Remove "btn btn-danger" %}
				Confirmation
			{% body %}
				Are you sure, you want to delete problem '{{ problem.title }}'?
			{% buttons %}
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">No</button>
				<button class="btn btn-danger" type="submit" name="remove">Remove</button>
			{% enddialog %}
		</div>
	</div>

</form>

{% endblock %}
