{% extends "base.html" %}

{% load icon %}

{% block base_content %}
<div class="row">
	<div class="span2">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="{% url 'accounts-users' %}">{% icon 'user' %} Users</a></li>
			<li><a href="{% url 'news-news' %}">{% icon 'envelope' %} News</a></li>
			<li><a href="{% url 'problems-problems' %}">{% icon 'th' %} Problems</a></li>
			<li><a href="/contests">{% icon 'calendar' %} Contests</a></li>
			<li><a href="{% url 'tags-tags' %}">{% icon 'tag' %} Tags</a></li>
			<br/>
			<li><a href="{% url 'forum-threads' %}">{% icon 'pencil' %} Forum</a></li>
			<br/>
			<li><a href="{% url 'accounts-settings' %}">{% icon 'wrench' %} Settings</a></li>
			<li><a href="/help/">{% icon 'question-sign' %} Help</a></li>
		</ul>
	</div>
	<div class="span10">
		{% include "messages.html" %}
		{% block content %}
		{% endblock %}
	</div>
</div>
{% endblock %}
