{% load bbcode %}
{% load icon %}

<div class="comment">
	<div class="bar">
		<div class="left label label-important">
			<a href="{% url 'accounts-user' comment.user.id %}">{{ comment.user.get_full_name }}</a>
		</div>
		<div class="right">
			<span class="label label-warning">
				{% if comment.created_date %}
					{{ comment.created_date }}
				{% else %}
					{% now "jS F Y H:i" %}
				{% endif %}
			</span>
			{% if comment.user == user %}
			{% if not comment.id == None %} {# if comment.id is None then there's nothing to edit #}
				<span class="label label-inverse">
					<a href="{% url 'problems-problem-comments-edit' problem.id comment.id %}">{% icon 'edit' True %}</a>
				</span>
			{% endif %}
			{% endif %}
		</div>
		<div style="clear: both;"></div>
	</div>
	<div class="content">
		{% bbcode %}
			{{ comment.comment | safe }}
		{% endbbcode %}
	</div>
</div>
