{% extends "problems/problem/menu.html" %}

{% load dialog %}

{% block tab %}

<h1>Edit the comment</h1>

{% if preview %}
	{% include "problems/problem/comments/comment.html" with comment=comment %}
{% endif %}

<form method="POST" class="form-horizontal">

{% csrf_token %}

<div class="control-group{% if error.comment %} error{% endif %}">
	<label class="control-label" for="input_comment">Comment</label>
	<div class="controls">
		<textarea name="comment" id="input_comment" class="span6" style="height: 250px;">{{ comment.comment }}</textarea>
		{% if error.comment %}
			<span class="help-inline">{{ error.comment }}</span>
		{% endif %}
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<button type="submit" name="preview" class="btn btn-primary">Preview</button>
		<button type="submit" name="edit" class="btn btn-success">Edit</button>
		{% dialog Remove "btn btn-danger" %}
			Confirmation
		{% body %}
			Are you sure, you want to delete this comment?
		{% buttons %}
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">No</button>
			<button type="submit" name="remove" class="btn btn-danger">Remove</button>
		{% enddialog %}
	</div>
</div>

</form>

{% endblock %}
