{% extends "menu.html" %}

{% block head_title %}
New thread
{% endblock %}

{% block content %}
<h2>New thread</h2>

<form method="POST" class="form-horizontal">
{% csrf_token %}

	<div class="control-group{% if error.title %} error{% endif %}">
		<label class="control-label" for="input_title">Title</label>
		<div class="controls">
			<input type="text" class="span8" name="title" id="input_title" value="{{ thread.title }}" placeholder="Title" />
			{% if error.title %}
				<span class="help-inline">{{ error.title }}</span>
			{% endif %}
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" name="send" class="btn btn-success">Send</button>
		</div>
	</div>

</form>
{% endblock %}
