{% load icon %}
{% load bbcode %}

<div class="forum-post">
	{% if not noreply %}
		<div class="forum-tools">
			{% if post.user == user %}
				<a title="Edit" href="{% url 'forum-post-edit' post.id %}">{% icon 'pencil' %}</a>
				&nbsp;
			{% endif %}
			<a title="Reply" href="{% url 'forum-post-reply' post.id %}">{% icon 'chevron-right' %}</a>
		</div>
	{% endif %}
	{% bbcode %}
		{{ post.content|safe }}
	{% endbbcode %}
	<div class="forum-signature">
		~
			<b>{% if post.user.get_full_name %}{{ post.user.get_full_name }}{% else %}{{ post.user.username }}{% endif %}</b>,
			{{ post.edited_date }}
	</div>
</div>
