{% extends "menu.html" %}

{% block head_title %}
	Reply to {% if post.user.get_full_name %}{{ post.user.get_full_name }}{% else %}{{ post.user.username }}{% endif %}
{% endblock %}

{% block content %}

<h2>Reply to {% if post.user.get_full_name %}{{ post.user.get_full_name }}{% else %}{{ post.user.username }}{% endif %}</h2>

{% include "forum/post.html" with noreply=True %}
{% if preview %}
<div class="forum-indent">
	{% include "forum/post.html" with noreply=True post=new_post %}
</div>
{% endif %}

<form method="POST" class="form-horizontal">
{% csrf_token %}
	
	<div class="control-group{% if error.content %} error{% endif %}">
		<label class="control-label" for="input_post">Post</label>
		<div class="controls">
			<textarea name="post" class="span8" style="height: 100px;" id="input_post" placeholder="Write Your post here.">{{ new_post.content }}</textarea>
			{% if error.content %}
				<span class="help-inline">{{ error.content }}</span>
			{% endif %}
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" name="preview" class="btn btn-primary">Preview</button>
			<button type="submit" name="send" class="btn btn-success">Send</button>
		</div>
	</div>

</form>

{% endblock %}
