{% extends "menu.html" %}

{% block head_title %}
	Forum
{% endblock %}

{% block content %}
<div style="float: right;">
	<a href="{% url 'forum-thread-new' %}" class="btn btn-success">New thread</a>
</div>
<table class="table">
<thead>
	<tr>
		<th>Thread</th>
		<th>Last post</th>
	</tr>
</thead>
	{% for thread, seen in threads %}
		<tr{% if not seen %} class="info"{% endif %}>
			<td><a href="{% url 'forum-thread' thread.id %}">{{ thread.title }}</a></td>
			<td width="500px">
				{% if thread.thread.last_post.id %}
					<a href="{% url 'forum-thread' thread.id %}#post-{{ thread.thread.last_post.id }}" style="color: black; text-decoration: none;">
						{{ thread.thread.last_post.content|truncatechars:100 }}
						<div style="position: relative; top: 0px; bottom: 0px; text-align: right; font-size: 11px; padding: 0px; margin: 0px;">
							~<b>{{ thread.thread.last_post.user.get_full_name }}</b>, {{ thread.thread.last_post.edited_date }}
						</div>
					</a>
				{% else %}
					There are no posts.
				{% endif %}
			</td>
		</tr>
	{% empty %}
		<tr>
			<td colspan="2">The forum is empty ;_;</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
